.name {
	font-size: 24px;
	font-weight: bold;
}

.name a, a:hover {
	color: maroon;
}

.price {
	font-weight: 800;
	font-size: 12pt;

}

.name, .quantity, .price, .description {
	margin-bottom: 16px;
}

#notice {
	color: green;
}

table thead tr th {
	padding-right: 60px
}

.cart > tbody tr td a img {
	width: 60px;
}

.number_tag {
	width: 55px;
	border-radius: 25px;
	text-align: center;
}