<footer class="navbar-fixed-bottom">
    <div class="container">
    <small>
      e-Shop by <a href="https://twitter.com/jedrekdomanski">Jędrzej Domański</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", "https://jedrekdomanski.wordpress.com/about/", target: "_blank" %></li>
        <li><%= link_to "Contact", '#' %></li>
        <li><a href="https://jedrekdomanski.wordpress.com" target="_blank">Blog</a></li>
      </ul>
    </nav>
    </div>
</footer>